.conteinerAll{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.namePokemon{
    text-transform: capitalize;
    text-align: center;
}

.conteinerDados{
    display: flex;
    gap: 50px;
}
.conteinerDados span{
    font-weight: bold;
}
.conteinerDados ul{
    list-style: none;
    margin-top: 2px;
    padding-left: 10px;
}
.conteinerDados li{
    text-transform: capitalize;
}
#typeLink{
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

.conteinerDados a{
    color: black;
    text-decoration: none;
    transition-duration: 0.3s;
}
.conteinerDados a:hover{
    color: gray;
    text-decoration: underline;
}

#statsConteiner ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
}
#statsConteiner > ul > li > span{
    font-weight: normal;
    background-color: #FAE8AA;
    padding: 3px 5px;
    border: 2px solid #FDD85D;
    border-radius: 3px;
}
#statsConteiner > ul > li:nth-child(3) > span, #statsConteiner > ul > li:nth-child(4) > span{
    background-color: #F4A19A;
    border: 2px solid #F15B4F;
}

@media screen and (max-width: 1025px) and (min-width: 516px) {
    .otherConteiner img{
        display: block;
        margin: auto;
    }
}
@media (max-width: 516px){
    .imgPoke{
        width: 100%;
    }
    .spritesConteiner{
        width: 100vw;
        max-width: 2000px;
    }
    .conteinerDados{
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 0px;
        
    }
    .conteinerDados div{
        width: fit-content;
        padding: 0px 2px;
    }
    .conteinerDados li{
        margin-top: 7px;
    }
    .otherConteiner img{
        display: block;
        margin: auto;

        width: 100%;
    }
}